.side img {
  width: auto;
  height: auto;
  max-width: 150px;
}

.side {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 50%; 
  transform: translateX(-50%);
}

.side2 {
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin: 0
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.main button {
  width: 40px; /* 버튼 너비 */
  height: 40px; /* 버튼 높이 */
  background-color: transparent; /* 배경을 투명하게 설정 */
  border: transparent; /* 버튼의 테두리를 투명하게 설정 */
  border-radius: 50%; /* 버튼을 원형으로 설정 */
  position: relative; /* 내부 요소를 위치시키기 위해 상대 위치 사용 */
  cursor: pointer; /* 마우스를 버튼 위에 올렸을 때 포인터로 변경 */
}

.main button::before, button::after {
  content: '';
  position: absolute;
  background-color: white; /* 흰색으로 내부 요소 설정 */
  border-radius: 50%; /* 내부 요소도 원형으로 설정 */
}

.main button::before {
  width: 15px;
  height: 15px;
  top: 5px; /* 버튼 위에서 아래로의 위치 */
  left: 12px; /* 버튼 왼쪽에서 오른쪽으로의 위치 */
}

.main button::after {
  width: 24px;
  height: 12px;
  bottom: 5px; /* 버튼 아래에서 위로의 위치 */
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100% 100% 0 0; /* 반원형으로 설정 */
}

.main h2 {
  color: white;
}
/* src/First.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1001;
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content ul {
  list-style-type: none;
  padding: 0;
}

.modal-content li {
  margin-bottom: 10px;
  padding: 10px;
}

.item {
  color: black;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.item:hover{
  background-color: black;
  border-radius: 8px;
  color: white;
}

